@page "/Index"


<style>
    body {
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    
    nav {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid gray;
        box-shadow: 2px 0px 5px gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        font-size: 50px;
        font-weight: bold;
    }

    .menu a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding: 10px 20px;
        margin: 5px;
        font-weight: bold;
    }

    #footer {
        padding-left: 10px;
        background-color: black;
        color: white;
    }
</style>
<header id="Item">
    <nav>
        <div class="logo">BBQ Resturant</div>
        <div class="menu">
            <a href="#Item"><b>Item</b></a>
            <a href="#Order"><b>Order</b></a>
            <a href="#Menu"><b>Menu</b></a>
            <a href="#Contact Us"><b>Contact Us</b></a>
        </div>
    </nav>
    <br />
    <br />
</header>
<img src="/css/Grill BBQ.jpg" width="1100"
     height="400" />
<br />
<br />
<center>
    <h1><b>Item</b></h1>
</center>
<span>
    <img src="/css/Pizza.jpg" width="360"
         height="200" />
</span>
<span>
    <img src="/css/Burger.jpg" width="360"
         height="200" />
</span>
<span>
    <img src="/css/Sandwitch.jpg" width="360"
         height="200" />
</span>
<br />
<br />
<center>
    <h2><b>Menu</b></h2>

    Chiken Kabab............$123.00
    <br />
    Chrunch Burger.........$100.00
    <br />
    Chicken Burger.........$150.00
    <br />
    Lamb Burger...........$200.00
    <br />
    Lamb Kabab...........$170.00
    <br />
    <br />
    <button style="color: white; background-color: forestgreen" border: none;>View All</button>
</center>
<center>
    <br />
    <br />
    <h3><b>Contact Us</b></h3>
    <br />
    <input type="text" placeholder="Name" />
    <br />
    <br />
    <input type="text" placeholder="Email" />
    <br />
    <br />
    <input type="text" placeholder="Phone" />
    <br />
    <br />
    <input type="text" placeholder="Message" />
    <br />
    <br />
    <button style="color: white; background-color: green; border: none; font-size: 16px;"><b>Send</b></button>
</center>
<br />
<br />
<center>
    <h4><b>Order your favourite food</b></h4>

    <span>
        <img src="/css/Lamb Burger.jpg" width="455"
             height="200" />
        <br />
        <br />
    </span>
    <span>
        <img src="/css/Chicken Kabab.jpg" width="455"
             height="200" />
    </span>
</center>
<br />

<section id="footer">


    <center>
        <div style="padding-left: 60px;" width="360"
             height="10">
            <h5 style="padding-top: 10px;"><b>Opening Hours</b></h5>
            <p>Mon-Thu: 7:00 AM-10:00 PM</p>
            <p>Friday:   7:00 AM-11:00 PM</p>
            <p>Sat-Sun: 7:00 AM-11:45 PM</p>

        </div>
    </center>
    <center>
        <footer>
            <div>
                <p>Copyright 2018.All rights reserved by free time learn</p>
            </div>
        </footer>
    </center>
</section>



